{% extends "base.html.twig" %}
{% form_theme formulaire 'bootstrap_5_layout.html.twig' %}
{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="d-flex flex-wrap justify-content-around">
			<div class="card m-5 mb-0" style="width: 40rem ">
				{{form_start(formulaire, {"attr":{"novalidate": "novalidate"}})}}
				<br>
				<h3 style="text-align: center;">Nom de la course</h3>
				{{ form_row(formulaire.name) }}
				<h3 style="text-align: center;">Classement</h3>
				{{ form_row(formulaire.classement1) }}
				{{ form_row(formulaire.classement2) }}
				{{ form_row(formulaire.classement3) }}
				{{ form_row(formulaire.classement4) }}
				{{ form_row(formulaire.classement5) }}
				{{ form_row(formulaire.classement6) }}
				{{ form_row(formulaire.classement7) }}
				{{ form_row(formulaire.classement8) }}
				{{ form_row(formulaire.classement9) }}
				{{ form_row(formulaire.classement10) }}
				{{ form_row(formulaire.image) }}
				<div style="text-align: center;">
					<input type="submit" value="Créer" class="btn btn-primary">
				</div>

				{{form_end(formulaire)}}
			</div>
		</div>
	{% else %}
		<h2 style="text-align:center">Vous n'êtes pas autorisé a voir le contenu de cette page</h2>
		<div class="d-flex flex-wrap justify-content-around">
			<a href="/" class="btn btn-light">Retour</a>
		</div>
	{% endif %}
{% endblock %}
