{% extends "base.html.twig" %}
{% block body %}
<div class="d-flex flex-wrap justify-content-around">
			<div class="card m-5 mb-0" style="width: 40rem;">
				<img src="uploads/{{ course.image }}" class="img-rounded card-img-top" alt="{{course.image}}"/>
				<div class="card-body d-flex flex-column justify-content-between">
					<div>
						<h5 class="card-title" style="text-align: center;">{{ course.name }}</h5>
						<p class="card-text mb-0"></p>
						<small
							class="text-muted">{# {{ course.create_at }} #}
						</small>
					</div>
					<a class="btn btn-color" href="/course/update/{{ course.id }}">
						Modifier Course
					</a>
					<a class="btn btn-color" href="/course/delete/{{ course.id }}">
						Supprimer Course
					</a>
				</div>
			</div>
		</div>
{% endblock %}