

	{# <head>
		<title>Bootstrap Example</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head> #}
    {% extends "base.html.twig" %}
    
    {% block body %}
    <br>
		<style>
			body {
				background-color: lightskyblue;
			}
		</style>
		<div class="jumbotron text-center bg-primary">
			<h1>Utilisateurs Tocy Sport</h1>
			<p>Liste de tous les Utilisateurs</p>
		</div>

		<div class="container">
			<div class="row">
				{% if users is not empty %}
					<table class="table">
						<thead>
							<tr>
								<th scope="col">id</th>
								<th scope="col">nom d'utilisateur</th>
								<th scope="col">Mot de passe</th>
								<th scope="col">Option</th>
								<th scope="col">Option</th>
                                <th scope="col">Option</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.username }}</td>
									<td>{{ user.password }}</td>
									<td>
										<a class="btn btn-light" href="delete/{{ user.id }}">Delete</a>
									</td>
									<td>
										<a class="btn btn-light" href="update/{{ user.id }}">Update</a>
									</td>
                                    <td>
										<a class="btn btn-light" href="read/{{ user.id }}">Read</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No article found.</p>
				{% endif %}
			</div>
		</div>

    {% endblock %}
