{% form_theme form 'bootstrap_5_layout.html.twig' %}

		{% extends "base.html.twig" %}

		{% block body %}
			<div class="jumbotron text-center">
				<h1>Mettre à jour son profil</h1>
			</div>

			<div class="container">
				{% block form %}
					{{form_start(form, {"attr":{"novalidate": "novalidate"}})}}
					{{ form_row(form.username) }}
					{{ form_row(form.password) }}
					{{ form_row(form.image) }}
					<input type="submit" value="Mettre à jour" class="btn btn-primary">

					{{form_end(form)}}
				{% endblock %}


			</div>
		{% endblock %}
